{% extends "core/base.html" %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/Contact-bg.jpg' %}{% endblock %}


{% block headers %}
   <h1>¡Hablemos!</h1>
   <span class="subheading">Hagamos un proyecto Genial</span>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-8 col-md-10 mx-auto">
<p align="justify">Cada proyecto es un mundo y cada empresas necesita de aplicaciones o un desarrollo que resuelva una necesidad. Por ello mi consejo es que sin ningún tipo de problemas 
contactes vía telefónica, coméntame que necesitas</p>
<br>
<p><b>Teléfono:</b> +34 6585979490</p>
<p><b>Honorarios:</b> 45€/h (precio base)</p>
</div>

{% endblock %}
